form {
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  font-family: sans-serif;

  label {
    font-weight: bold;
  }

  input {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    background: #121215;
    color: white;
    border: none;
  }
}

button {
  background: #121215;
  color: white;
  padding: 0.5rem 0.75rem;
  border: none;
  margin-top: 0.5rem;
  align-self: flex-end;
  cursor: pointer;
  transition: all 200ms;

  &:hover {
    background: #353538;
  }
}
